*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Open Sans', sans-serif; */
}

#main{
    height: 100%;
    width: 100%;
}   

.page-1{
    height: 100vh;
    width: 100%;
    /* background-color: #000; */
}

#nav{
    height: 70px;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}


.left{
    display: flex;
}

.left h1{
    margin-left: 80px;
    margin-right: 30px;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.left h2{
    font-size: 15px;
    margin: 22px 35px;
    font-weight: 300;
}

.right{
    display: flex;
}

.right i{
    font-size: 22px;
    margin: 18px 5px;
}

.right h2{
    margin-right: 70px;
    font-size: 15px;
    margin-top: 22px;
    font-weight: 300;

}
/* .acc {
    margin-right: 70px;
    margin-top: 19px;
}  */

.you{
    display: flex;
}

.you h3{
    font-weight: 100;
    font-size: 18px;
    margin-top: 45px;
    margin-left: 1200px;
    float: right;
}

.you h2{
    margin-top: 45px;
    margin-left: 4px;
    font-size: 19px;
}


.abc{
    font-size: 40px;
    font-weight: 700;
    margin-left: 220px;
    margin-top: 30px;
}

.form{
    display: flex;
}

.f-left{
    margin: 70px 220px;

}

.line-1{
    display: flex;
}
.text-bg{
    background-color: #e5e5e5;
    height: 4vh;
    width: 22vw;
    border-radius: 5px;
    margin-bottom: 35px;
}

.text-bg p{
    font-size: 20px;
    margin-left: 0.5vw;
    margin-top: 2vh;
}

.text-bg-v{
    background-color: #e5e5e5;
    height: 22vh;
    width: 24vw;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 2px;
    position: relative;
}

.f-right{
    margin-top: 70px;
    margin-left: 225px;

}

.text-bg-r{
    height: 4vh;
    width: 24vw;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin-bottom: 35px;
}

.text-bg-r p{
    font-size: 20px;
    margin-left: 10px;
}

.text-bg-v p{
    /* margin-top: 5px; */
    margin: 15px 10px;
    font-size: 20px;
}

.text-bg-v img{
    height: 150px;
    position: absolute;
    margin-top: -90px;
    margin-left: 170px;
}
